doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Alivio
    body 
        .wrapper 
            include ../../components/header/header.pug 
            include ../../components/main/main.pug
            footer.footer 
                .footer 
                    .footer__container 
                        .footer__body 
                            .footer__content 
                                .footer__title Alivio
                                ul.footer__list 
                                    li.footer__li
                                        a.footer__link(href='#') Why Alivio 
                                    li.footer__li
                                        a.footer__link(href='#') Solutions
                                    li.footer__li
                                        a.footer__link(href='#') Community
                                    li.footer__li(class='footer__li-last')
                                        a.footer__link(href='#') Pricing
                                    