// Файл обнуляющих стилей
@import "../../styles/null.scss";

@import "../../styles/style.scss";

html,
body {
  height: 100%;
  font-family: "Lato";
  font-style: normal;
  display: flex;
  flex-direction: column;
}

// Start header styles

@import "../../components/header/header.scss";

// Finish header styles

// Start main styles

@import "../../components/main/main.scss";

// Finish main styles

@media (max-width: 1500px) {
  .story__picture {
    margin-top: -150px;
    max-width: 896px;
    max-height: 517px;
  }
  .story {
    margin-bottom: 360px;
  }
}

@media (max-width: 1320px) {
  .story__content {
    padding-top: 0;
  }
  .story {
    margin-bottom: 300px;
  }
}

@media (max-width: 1238px) {
  .how__title-last {
    margin-bottom: 0;
  }
  .how__texts {
    margin-bottom: 50px;
  }
}

@media (max-width: 930px) {
  .story {
    margin-bottom: 250px;
  }
}

@media (max-width: 816px) {
  .guide__content2 {
    padding-top: 60px;
  }
  .story {
    margin-bottom: 200px;
  }
}

@media (max-width: 770px) {
  .how__epigraph {
    margin-top: -60px;
  }
}
