// Файл обнуляющих стилей
@import "../../styles/null.scss";

@import "../../styles/style.scss";

html,
body {
  height: 100%;
}

.wrapper {
}

// Start header styles

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  &__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 85px;
    align-items: center;
  }
  &__container {
    max-width: 1413px;
    margin: 0 auto;
    padding: 0 10px;
  }
  &__logo {
    z-index: 3;
  }
  &__logo img {
    max-width: 100%;
    display: block;
  }
  &__list {
    display: flex;
    position: relative;
    z-index: 2;
  }
  &__link {
    font-family: "Lato";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #292929;
    padding-left: 72px;
  }
  &__link-last {
    padding-right: 35px;
    padding-left: 283px;
  }
  &__demo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #01996d;
    border: 1px solid #01996d;
    border-radius: 4px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #ffffff;
    padding: 13px 50px;
  }
  li {
    margin-top: 13px;
  }
  &__burger {
    display: none;
  }
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(209, 209, 225);
  z-index: 2;
}

@media (max-width: 1300px) {
  .header__link {
    padding-left: 30px;
  }
}

@media (max-width: 880px) {
  .header {
    &__body {
      height: 50px;
    }
    &__logo {
      flex: 0 0 70px;
    }
    &__burger {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      z-index: 3;
    }
    &__burger span {
      position: absolute;
      background-color: #ffffff;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
    }
    &__burger::before,
    &__burger::after {
      content: "";
      background-color: #ffffff;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
    }
    &__burger::before {
      top: 0;
    }
    &__burger::after {
      bottom: 0;
    }
    &__menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #04241b;
      padding: 60px 10px 20px 10px;
    }
    &__list {
      display: block;
    }
    &__list li {
      margin-bottom: 20px;
    }
    &__link {
      color: #ffffff;
    }
  }
}
